<!--Custom users footer, overriding core footer -->
<footer class="source_footer">
    <div class="source_col-main">
        <div class="source_col">
            <h2>Sorcerers</h2>
            <ul class="source_ul">
                <li><a class="source_a_l" href="http://twitter.com/operatino_en">Robert Haritonov</a></li>
                <li><a class="source_a_l" href="http://twitter.com/ostroffsky">Alexey Ostrovsky</a></li>
                <li><a class="source_a_l" href="mailto:eugeny.horoshilov@odnoklassniki.ru">Eugeny Khoroshilov</a></li>
                <li><a class="source_a_l" href="mailto:juris.pukitis@odnoklassniki.ru">Juris Pukitis</a></li>
                <li><a class="source_a_l" href="http://twitter.com/korochinskiy">Anton Korochinsky</a></li>
            </ul>
        </div>
        <div class="source_col">
            <h2>Navigation</h2>
            <ul class="source_ul">
                <li><a class="source_a_l" href="/docs">Documentation</a></li>
                <li><a class="source_a_l" href="/docs/plugins">Plugins</a></li>
            </ul>
        </div>
        <div class="source_col">
            <h2>Useful links</h2>
            <ul class="source_ul">
                <li><a class="source_a_l" href="https://github.com/sourcejs/Source">Fork Source on Github</a></li>
                <li><a class="source_a_l" href="https://github.com/sourcejs/Sourcejs.com">Sourcejs.com sources</a></li>
                <li class="source_footer_tw">
                    <a href="https://twitter.com/sourceJS" class="twitter-follow-button" data-show-count="false">Follow @sourceJS</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                </li>
            </ul>
        </div>
        <div class="source_col source_col__23">
            <div class="source_footer_copy">
                Developed and maintained by <a href="http://corp.mail.ru/en/communications/odnoklassniki" class="source_a_l">Odnoklassniki</a> front-end team.<br>

                Copyright © 2013 <a href="http://sourcejs.com" class="source_a_l">Sourcejs.com</a>.
            </div>
        </div>
    </div>
</footer>

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
	(function (d, w, c) {
		(w[c] = w[c] || []).push(function() {
			try {
				w.yaCounter21071395 = new Ya.Metrika({id:21071395,
					webvisor:true,
					clickmap:true,
					trackLinks:true,
					accurateTrackBounce:true});
			} catch(e) { }
		});

		var n = d.getElementsByTagName("script")[0],
				s = d.createElement("script"),
				f = function () { n.parentNode.insertBefore(s, n); };
		s.type = "text/javascript";
		s.async = true;
		s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

		if (w.opera == "[object Opera]") {
			d.addEventListener("DOMContentLoaded", f, false);
		} else { f(); }
	})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/21071395" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->