<!--Custom users footer, overriding core footer -->
<footer class="source_footer">
    <div class="source_col-main">
        <div class="source_col">
            <h2>Sorcerers</h2>
            <ul class="source_ul">
                <li><a class="source_a_l" href="https://twitter.com/operatino">Robert Haritonov</a></li>
                <li><a class="source_a_l" href="https://github.com/cheshirsky">Ilya Mikhailov</a></li>
                <li><a class="source_a_l" href="https://github.com/nightkin">Dennis Przendzinski</a></li>
                <li><a class="source_a_l" href="https://github.com/XOP">Eugeny Khoroshilov</a></li>
                <li><a class="source_a_l" href="https://twitter.com/from_anywhere">Ivan Metelev</a></li>
                <li><a class="source_a_l" href="https://twitter.com/lapynow">Dmitry Lapynow</a></li>
                <li><a class="source_a_l" href="https://twitter.com/ostroffsky">Alexey Ostrovsky</a></li>
                <li><a class="source_a_l" href="https://github.com/genson">Gennady Tsarinny</a></li>
            </ul>
        </div>
        <div class="source_col">
            <h2>Navigation</h2>
            <ul class="source_ul">
                <li><a class="source_a_l" href="/docs">Documentation</a></li>
                <li><a class="source_a_l" href="/docs/base/#install">Quick start</a></li>
                <li><a class="source_a_l" href="/specs">Example Bundles</a></li>
                <li><a class="source_a_l" href="/docs/base/#plugins">Plugins</a></li>
                <li><a class="source_a_l" href="/docs/api/plugins/">Writing SourceJS extensions</a></li>
            </ul>
        </div>
        <div class="source_col">
            <h2>Useful links</h2>
            <ul class="source_ul">
                <li><a class="source_a_l" href="https://github.com/sourcejs/Source">SourceJS on GitHub</a></li>
                <li><a class="source_a_l" href="https://github.com/sourcejs/blog-howto">How-to articles</a></li>
                <li><a class="source_a_l" href="https://github.com/sourcejs/pres">Presentation materials</a></li>
                <li><a class="source_a_l" href="https://github.com/sourcejs/Source#sourcejs---living-style-guide-on-steroids">About the project</a></li>
                <li class="source_footer_tw">
                    <a href="https://twitter.com/sourceJS" class="twitter-follow-button" data-show-count="false">Follow @sourceJS</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                </li>
            </ul>
        </div>
        <div class="source_col source_col__23">
            <div class="source_footer_copy">
                Copyright © 2013-2015 <a href="https://sourcejs.com" class="source_a_l">Sourcejs.com</a> <span class="source_footer_version">(v.<%- engineVersion %>)</span>
            </div>
        </div>
    </div>
</footer>

<!-- Gauges -->
<script type="text/javascript">
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '520c9dfc613f5d665100011b');
    t.src = '//secure.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>
<!-- /Gauges -->