<!--Custom users footer, overriding core footer -->
<footer class="source_footer">
    <div class="source_col-main">
        <div class="source_col">
            <h2>Sorcerers</h2>
            <ul class="source_ul">
                <li><a class="source_a_l" href="http://twitter.com/operatino">Robert Haritonov</a></li>
                <li><a class="source_a_l" href="http://github.com/cheshirsky">Ilya Mikhailov</a></li>
                <li><a class="source_a_l" href="http://github.com/nightkin">Dennis Przendzinski</a></li>
                <li><a class="source_a_l" href="http://github.com/XOP">Eugeny Khoroshilov</a></li>
                <li><a class="source_a_l" href="http://twitter.com/from_anywhere">Ivan Metelev</a></li>
                <li><a class="source_a_l" href="http://twitter.com/lapynow">Dmitry Lapynow</a></li>
                <li><a class="source_a_l" href="http://twitter.com/ostroffsky">Alexey Ostrovsky</a></li>
                <li><a class="source_a_l" href="http://github.com/genson">Gennady Tsarinny</a></li>
            </ul>
        </div>
        <div class="source_col">
            <h2>Navigation</h2>
            <ul class="source_ul">
                <li><a class="source_a_l" href="/docs">Documentation</a></li>
                <li><a class="source_a_l" href="/docs/base/#plugins">Plugins</a></li>
                <li><a class="source_a_l" href="https://github.com/sourcejs/Source#sourcejs---living-style-guide-on-steroids">About the project</a></li>
            </ul>
        </div>
        <div class="source_col">
            <h2>Useful links</h2>
            <ul class="source_ul">
                <li><a class="source_a_l" href="https://github.com/sourcejs/Source">Fork Source on Github</a></li>
                <li><a class="source_a_l" href="https://github.com/sourcejs/Sourcejs.com">Sourcejs.com sources</a></li>
                <li class="source_footer_tw">
                    <a href="https://twitter.com/sourceJS" class="twitter-follow-button" data-show-count="false">Follow @sourceJS</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                </li>
            </ul>
        </div>
        <div class="source_col source_col__23">
            <div class="source_footer_copy">
                Copyright © 2013-2015 <a href="http://sourcejs.com" class="source_a_l">Sourcejs.com</a>
            </div>
        </div>
    </div>
</footer>

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter21071395 = new Ya.Metrika({id:21071395});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/21071395" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<!-- Gauges -->
<script type="text/javascript">
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '520c9dfc613f5d665100011b');
    t.src = '//secure.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>
<!-- /Gauges -->