<!--Custom users header, overriding core header -->

<header class="source_header">

    <div class="source_col-main">
        <div class="source_col __14 __right">
            <a href="#777" class="source_hamburger-menu" onclick="$('.source_header_nav').toggleClass('source_header_nav__show')"></a>
            <div class="source_search">
                <input class="source_search_it" id="livesearch" type="text" placeholder="Go to page"/>
            </div>
        </div>

        <div class="source_col source_col__23">
            <a class="source_logo" href="/">Source</a>

            <nav class="source_header_nav">
                <ul class="source_header_nav_lst">
                    <li class="source_header_nav_i"><a class="source_a_l" href="/docs">Documentation</a></li>
                    <li class="source_header_nav_i"><a class="source_a_l" href="https://github.com/sourcejs/Source#sourcejs---living-style-guide-platform">About</a></li>
                    <li class="source_header_nav_i"><a class="source_a_l" href="/specs/examples">Example Specs</a></li>
                </ul>
            </nav>
        </div>
    </div>

</header>